@import url('https://fonts.googleapis.com/css?family=Lato:300|Lobster|Playfair+Display:900');

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse.navbar-nav>.active>a:focus, .navbar-inverse.navbar-nav>.active>a:hover {
  background-color: rbga(51, 51, 51, .5);
}

.navbar-inverse .navbar-nav>li>a {
  color: #F8512F;
  text-shadow: 1px 1px 2px #333;
}

.navbar-inverse {
  background-color: transparent;
  border: none;
}


.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgba(51, 51, 51, .25);
  color: #F8512F;
}

/* Carousel Style */
.item {
  height: 425px;
  background-size: cover;
  background-position: center;
}

#wood-background {
  background-image: url('../img/wood-2.jpg');
}

.carousel-flex {
  height: 425px;
  display: flex;
  align-items: center;
}

.carousel-caption {
  margin-bottom: 45px;
}

#carousel-logo {
  height: 250px;
}

#seating-background {
  background-image: url('../img/restaurant-2.jpg');
}

button.btn-warning {
  background-color: #F8512F;
  border-color: #F8512F;
}

button.btn-warning:hover {
  background-color: #D34326;
  border-color: #D34326;
}

#farm {
  background-image: url('../img/farm-2.jpg');
}

.leftcol h1 {
  color: #F8512F;
  font-family: 'Lobster', Cursive;
  font-size: 5em;
  margin-bottom: 0px;
  text-shadow: 1px 1px 2px #313;
}

.leftcol h3 {
  margin-top: 0px;
}

.rightcol .year-text {
  font-family: 'Playfair Display';
  font-weight: 900;
  position: absolute;
  z-index: -1;
  color: rgba(51, 51, 51, 0.5);
}

.mainsection {
  margin: 10% auto;
}

.reviewsection {
  height: 600px;
  background-image: url('../img/food_review.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.fresnobee {
  height: 300px;
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 5px;
}

.fresnobee h1 {
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px 2px #333;
  color: #F8512F;
  font-size: 4em;
}

.fresnobee p {
  font-size: 2em;
  color: white;
  font-family: 'Lato', sans-serif;
  text-shadow: 1px 1px 2px #333;
}

.row.reviewsection .flex {
  height: 100%;
  display: flex;
  align-items: center;
}

#menu {
  background-image: url('../img/black_linen.png');
  height: 700px;
}

.menusection {
  padding-top: 30px;
  height: 750px;
}

.menusection ul li {
}

.menusection ul li a {
  text-transform: uppercase;
  color: #F8512F;
  font-size: 1.5em;
  font-weight: 600;
}

.menusection ul li a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #F8512F;
  border: 2px solid;
}



.food {
  background-color: #fff;
  height: 485px;
  overflow: auto;
  padding: 8px 19px;
}
.menusection h1 {
  font-family: 'Lobster', cursive;
  color: #fff;
  font-size: 65px;
}
